html, body {
  background-color: #fff; }

.animate, .navbar .dropdown, .navbar .dropdown-toggle, .container.container-how-it-works .step .bt-border, .container.container-how-it-works .step:hover .bt-border, .container.container-category .box, .container.container-questions .tile-question .answer-title, .container.container-questions .tile-answer .answer-title, .container.container-questions .tile-results .answer-title, .animate:hover, .navbar .dropdown:hover, .navbar .dropdown-toggle:hover, .container.container-how-it-works .step .bt-border:hover, .container.container-category .box:hover, .container.container-questions .tile-question .answer-title:hover, .container.container-questions .tile-answer .answer-title:hover, .container.container-questions .tile-results .answer-title:hover, .animate:focus, .navbar .dropdown:focus, .navbar .dropdown-toggle:focus, .container.container-how-it-works .step .bt-border:focus, .container.container-category .box:focus, .container.container-questions .tile-question .answer-title:focus, .container.container-questions .tile-answer .answer-title:focus, .container.container-questions .tile-results .answer-title:focus {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 46px;
  font-size: 46px;
  margin: 0 0 23px 0; }

h2 {
  font-family: 'Permanent Marker', cursive;
  font-weight: normal;
  font-size: 31px;
  line-height: 23px;
  margin: 0 0 23px 0; }

p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 23px;
  margin: 0 0 23px 0;
  font-weight: 300; }

.divider {
  background: #ffce2e;
  height: 5px;
  width: 55px;
  border-radius: 1px;
  display: inline-block;
  margin: -5px auto 30px; }

.tile {
  background: #444;
  padding: 50px 30px; }

.navbar {
  background: transparent;
  border-bottom: 0;
  margin-bottom: 0;
  border-radius: 0; }
  .navbar.navbar-grey {
    background: #333; }
  .navbar .user-img {
    width: 24px;
    display: inline-block;
    border-radius: 50px;
    margin: -7px 5px -5px; }
  .navbar .dropdown:hover, .navbar .dropdown:focus, .navbar .dropdown:active, .navbar .dropdown-toggle:hover, .navbar .dropdown-toggle:focus, .navbar .dropdown-toggle:active {
    background: #222 !important; }
  .navbar .dropdown-menu {
    background-color: #333;
    border-color: #080808; }
    .navbar .dropdown-menu li > a {
      color: #999;
      padding: 10px 20px; }
      .navbar .dropdown-menu li > a:hover {
        color: #fff;
        background-color: #222; }
    .navbar .dropdown-menu .no-hover {
      color: #999; }
      .navbar .dropdown-menu .no-hover:hover {
        background-color: #333;
        color: #999; }
    .navbar .dropdown-menu .divider {
      width: 100%;
      background-color: #222;
      margin: 0;
      display: table; }
  .navbar .navbar-brand {
    font-family: 'Permanent Marker', cursive;
    color: #ffce2e; }
    .navbar .navbar-brand:hover {
      color: #ffce2e; }
  .navbar .navbar-nav li a {
    color: #ddd; }
    .navbar .navbar-nav li a:hover {
      color: white; }

.btn {
  font-size: 15px;
  text-shadow: none;
  border: none;
  border-radius: 2px;
  font-weight: 300; }
  .btn.btn-gold {
    background: #ffce2e; }
  .btn.btn-facebook {
    background: #3b5998;
    color: white; }
  .btn.btn-twitter {
    background: #1da1f2;
    color: white; }
  .btn.btn-google {
    background: #dd4b39;
    color: white; }
  .btn.btn-instagram {
    background: #405de6;
    color: white; }
  .btn.btn-tumblr {
    background: #35465c;
    color: white; }
  .btn.btn-reddit {
    background: #ff4500;
    color: white; }

.jumbotron {
  background: url("../img/bg.png") center center;
  padding: 120px;
  background-size: cover;
  text-align: center;
  color: #ffffff; }
  .jumbotron.jumbotron-small {
    padding: 50px;
    margin-bottom: 0; }
  .jumbotron h1, .jumbotron h2 {
    text-shadow: 1px 1px 1px #222; }
  .jumbotron h1 {
    font-weight: bold; }
  .jumbotron h2 {
    font-size: 28px;
    line-height: 10px;
    color: #ffce2e; }
  .jumbotron .btn {
    padding: 10px 30px;
    font-weight: 300;
    font-size: 15px; }

.bg {
  padding: 40px 0; }
  .bg.bg-white {
    background: white;
    color: #222; }
  .bg.bg-grey {
    background: #222;
    color: white; }
  .bg.bg-light-grey {
    background: #555;
    color: white; }
  .bg.bg-login {
    background: url(../img/bg.png) center center;
    padding: 120px;
    height: 100%;
    width: 100%;
    position: fixed;
    min-height: 500px;
    background-size: cover; }

.container.container-how-it-works {
  text-align: center; }
  .container.container-how-it-works h2 {
    margin: 10px auto 5px; }
  .container.container-how-it-works .step:hover .bt-border {
    border-color: #ffce2e; }
.container.container-login h1 {
  margin: 50px auto 23px; }
.container.container-login .input-group input, .container.container-login .input-group .btn {
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  padding: 6.5px 25px;
  font-size: 15px;
  border: 0; }
.container.container-login .input-group input {
  padding-left: 15px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px; }
.container.container-login .input-group .btn {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px; }
.container.container-login .tile h1 {
  margin: 1px auto 23px; }
  .container.container-login .tile h1.white {
    color: white; }
.container.container-login .social-media-btns {
  padding: 12px; }
  .container.container-login .social-media-btns > div {
    padding: 3px; }
    .container.container-login .social-media-btns > div i.fab {
      padding-right: 10px; }
.container.container-category .box {
  margin: 15px auto;
  min-height: 92px;
  text-align: center;
  font-weight: 300;
  font-family: 'Permanent Marker', cursive;
  font-size: 22px; }
  .container.container-category .box:hover {
    cursor: pointer; }
  .container.container-category .box.selected:hover {
    cursor: default; }
  .container.container-category .box.box-category, .container.container-category .box.box-type, .container.container-category .box.box-final {
    background: #333;
    color: white;
    padding: 20px 10px 10px; }
    .container.container-category .box.box-category:hover, .container.container-category .box.box-type:hover, .container.container-category .box.box-final:hover {
      color: #ffce2e; }
    .container.container-category .box.box-category.selected, .container.container-category .box.box-type.selected, .container.container-category .box.box-final.selected {
      background-color: #222;
      color: #ffce2e; }
  .container.container-category .box.box-difficulty {
    background: #444;
    color: #fff;
    padding: 20px 10px 10px; }
    .container.container-category .box.box-difficulty:hover {
      color: #ffce2e; }
    .container.container-category .box.box-difficulty.selected {
      background-color: #666;
      color: #ffce2e; }
  .container.container-category .box.box-type, .container.container-category .box.box-final {
    padding-top: 26px;
    font-size: 30px; }
  .container.container-category .box.box-final:hover {
    cursor: default; }
.container.container-questions #loader {
  margin: 150px auto;
  text-align: center; }
.container.container-questions .tile-question, .container.container-questions .tile-answer, .container.container-questions .tile-results {
  background-color: #444;
  margin: 4px auto;
  color: white;
  padding: 50px; }
  .container.container-questions .tile-question .question-question, .container.container-questions .tile-question .answer-answer, .container.container-questions .tile-answer .question-question, .container.container-questions .tile-answer .answer-answer, .container.container-questions .tile-results .question-question, .container.container-questions .tile-results .answer-answer {
    font-size: 15px;
    margin: 0 20px -55px;
    color: #999; }
  .container.container-questions .tile-question .question-title, .container.container-questions .tile-answer .question-title, .container.container-questions .tile-results .question-title {
    background: #222;
    padding: 35px 20px 25px; }
  .container.container-questions .tile-question .answer-title, .container.container-questions .tile-answer .answer-title, .container.container-questions .tile-results .answer-title {
    background: #222;
    padding: 35px 20px 25px;
    border: 3px solid #222; }
  .container.container-questions .tile-question .answer-tile, .container.container-questions .tile-answer .answer-tile, .container.container-questions .tile-results .answer-tile {
    margin-top: 20px; }
    .container.container-questions .tile-question .answer-tile:hover, .container.container-questions .tile-answer .answer-tile:hover, .container.container-questions .tile-results .answer-tile:hover {
      cursor: pointer; }
      .container.container-questions .tile-question .answer-tile:hover .answer-title, .container.container-questions .tile-answer .answer-tile:hover .answer-title, .container.container-questions .tile-results .answer-tile:hover .answer-title {
        border: 3px solid #ffce2e; }
    .container.container-questions .tile-question .answer-tile .answer-answer, .container.container-questions .tile-answer .answer-tile .answer-answer, .container.container-questions .tile-results .answer-tile .answer-answer {
      margin: 0 20px -45px; }
.container.container-questions .tile-results.tile-green {
  border: 3px solid green; }
.container.container-questions .tile-results.tile-red {
  border: 3px solid red; }
.container.container-questions .tile-results .result-your-answer, .container.container-questions .tile-results .result-correct-answer, .container.container-questions .tile-results .answer-answer {
  cursor: default; }
  .container.container-questions .tile-results .result-your-answer:hover .answer-title, .container.container-questions .tile-results .result-correct-answer:hover .answer-title, .container.container-questions .tile-results .answer-answer:hover .answer-title {
    border: 3px solid #222; }
.container.container-questions .tile-overview {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 15px; }
  .container.container-questions .tile-overview h2 {
    margin: 15px auto 25px;
    font-size: 65px; }

.progress {
  height: 4px;
  border-radius: 0;
  margin: 0 15px -5px; }

.progress-bar-animation {
  transition-duration: 20s;
  -webkit-transition-timing-function: linear;
  /* Safari and Chrome */
  transition-timing-function: linear; }

/*# sourceMappingURL=style.css.map */
